hr {
    margin-top: 50px;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.CosRelationerWrap {
    margin: auto;
    display: flex;
    justify-content: center;
}

.CosRelationerWrap > label {
    margin-right: 5px;
    margin-left: 10px;
}


.KendtVinkelWrap {
    margin: auto;
    display: flex;
    justify-content: center;
}

.KendtVinkelWrap > label {
    margin-right: 5px;
    margin-left: 10px;
}



.UkendtVinkelWrap {
    margin: auto;
    display: flex;
    justify-content: center;
}

.UkendtVinkelWrap > label {
    margin-right: 5px;
    margin-left: 10px;
}

.OmregnWrap {
    margin: auto;
    display: flex;
    justify-content: center;
}

.OmregnWrap > label {
    margin-right: 5px;
    margin-left: 10px;
}

.Menu {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: grey;
}

/* SideNav */
.SideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #46474a;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  /* Linksne i SideNav */
  .SideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* Luk SideNav */
  .SideNav .closebtn {
    color: aliceblue;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Luk SideNav */
  .SideNav span:hover {
    color: #575757;
  }
  
  
  /* Åben Knap til SideNav */
  .OpenButton {
    color: #cecece;
    padding-left: 3%;
    padding-top: 8px;
    font-size: 30px;
    position: absolute;
    cursor: pointer;
  }

  .DarkModeLabel {
      color: white;
      user-select: none;
  }

  .ComicLabel {
      color: white;
      user-select: none;
  }

  .CheckWrap {
      padding-left: 20px;
      text-align: left;
      width: 90%;
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
  }

  .CheckboxPointer {
      cursor: pointer;
  }
/*.H1Title {color: green;}*/